<section id="cart" class="panels">
    <div class="artisan-logo-wrapper">
        <a href="../">
            <div class="navy hover" ng-include="'../images/artisan-logo.svg'"></div>
        </a>
    </div>

    <h1>Your Cart</h1>

    <div class="cart-table">

        <table class="table">
            <!--<thead>-->
                <!--<th>Items</th>-->
                <!--<th>Details</th>-->
                <!--<th>Price</th>-->
                <!--<th>Qty.</th>-->
                <!--<th>Total</th>-->
            <!--</thead>-->
            <!-- NG-REPEAT on TBODY elem -->
            <tbody>
                <tr>
                    <td colspan="5" class="cart-image-holder">
                        <div class="cart-image"></div>
                    </td>
                </tr>
                <tr class="header">
                    <td colspan="5">
                        <h2>Ultra-Thin Alligator</h2>
                        <span class="remove-from-cart glyphicon glyphicon-remove" tooltip="Remove"
                              tooltip-placement="right"></span>
                    </td>
                </tr>
                <tr class="col-titles">
                    <th>Items</th>
                    <th>Details</th>
                    <th>Price</th>
                    <th>Qty.</th>
                    <th>Total</th>
                </tr>
                <tr class="info">
                    <td>
                        <span class="th">Item</span>
                        <p>AITG500-0120MR</p>
                    </td>
                    <td>
                        <span class="th">Details</span>
                        <p>Color: Black</p>
                        <p>Width: 20mm</p>
                        <p>Length: Regular</p>
                    </td>
                    <td>
                        <span class="th">Price</span>
                        <p>$169.99</p>
                    </td>
                    <td>
                        <span class="th">Qty.</span>
                        <p>1pc.</p>
                    </td>
                    <td>
                        <span class="th">Total</span>
                        <p>
                            <b>$169.99</b>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td colspan="5" class="cart-image-holder">
                        <div class="cart-image"></div>
                    </td>
                </tr>
                <tr class="header">
                    <td colspan="5">
                        <h2>Ultra-Thin Alligator</h2>
                        <span class="remove-from-cart glyphicon glyphicon-remove" tooltip="Remove"
                              tooltip-placement="right"></span>
                    </td>
                </tr>
                <tr class="info">
                    <td>
                        <span class="th">Item</span>
                        <p>AITG500-0120MR</p>
                    </td>
                    <td>
                        <span class="th">Details</span>
                        <p>Color: Black</p>
                        <p>Width: 20mm</p>
                        <p>Length: Regular</p>
                    </td>
                    <td>
                        <span class="th">Price</span>
                        <p>$169.99</p>
                    </td>
                    <td>
                        <span class="th">Qty.</span>
                        <p>1pc.</p>
                    </td>
                    <td>
                        <span class="th">Total</span>
                        <p>
                            <b>$169.99</b>
                        </p>
                    </td>
                </tr>
            </tbody>

        </table>

        <table class="table">
            <thead class="totals">
                <th colspan="2">Totals</th>
            </thead>
            <tbody class="totals">
                <tr>
                    <td class="totals-heading">Subtotal</td>
                    <td class="totals-right">$169.99</td>
                </tr>
                <tr>
                    <td class="totals-heading">Tax</td>
                    <td class="totals-right">$0.00</td>
                </tr>
                <tr>
                    <td class="totals-heading">Total</td>
                    <td class="totals-right"><b>$169.99</b></td>
                </tr>
            </tbody>
        </table>

        <div class="cart-button">
            <a href="../">
                <span class="bracket bracket-left"></span>
                <h4>Back</h4>
            </a>
        </div>

        <div class="cart-button checkout-button">
            <span class="bracket bracket-right"></span>
            <h4>Checkout</h4>
        </div>

        <!--<div class="spacer"></div>-->
    </div>

</section>