<section id="about" class="panels">
    <h1>About us</h1>

    <div class="sample-strap"></div>

    <div class="paragraphs">
        <p class="lead">Utilizing only the finest materials available, watch strap maker Artisan of Italy preserves the rich traditions of Italian leather craftsmen while drawing upon the most sophisticated and highly-regarded techniques in the fine leather watch strap industry.</p>
        <p class="lead">Our family-owned and family-run business is dedicated to providing our customers with a beautiful selection of leather straps to perfectly complement a variety of watches.</p>
    </div>
</section>

<div class="horizontal-rule"></div>